/*** Styles for recipe_detail.html template. ***/

/* Article container for a recipe detail */
.rec-container {
}

/* FOR TESTING ONLY */
.rec-container.show-boxes .rec-header,
.rec-container.show-boxes .rec-description,
.rec-container.show-boxes .rec-ingredients,
.rec-container.show-boxes .rec-directions,
.rec-container.show-boxes .rec-footnotes {
  border: 1px solid black;
  padding: 1rem 2rem 0.5rem;
  border-radius: 5px;
  margin-bottom: 2rem;
}

/* Sections containing different parts of the recipe */
/* Header and description are easily accessible in the template using Bootstrap utility classes, as well. */
.rec-container .rec-header {
}
.rec-container .rec-description {
}

/* Ingredients, Directions, and Footnotes will contain HTML served from the database,
   which typically cannot be changed to affect the markup.
   Use these to target the containers, the child tags (<p>, <ol>, <ul>, <li>, <em>, <strong>, etc.)
   so that styles can be applied to those generated elements. */
.rec-container .rec-ingredients {
}
.rec-container .rec-directions {
}
.rec-container .rec-footnotes {
}

/* Within ingredient list, the following classes are applied to <span> tags that
   separate pieces of data for each ingredient: */

/* The amount of the ingredient, expressed as a whole number ("3"), fraction ("1/3"), or combination ("2 1/2") */
.rec-container .rec-ingredients .ingredient-amount {
}

/* Unit of measure of the ingredient amount, such as "teaspoon" or "pounds". */
.rec-container .rec-ingredients .ingredient-amount-uom {
}

/* The type of the ingredient */
.rec-container .rec-ingredients .ingredient-type {
  font-weight: 700;
}

/* A preparation step, such as "finely chopped", to be done to an ingredient before starting on directions */
.rec-container .rec-ingredients .ingredient-preparation {
  font-style: italic;
  color: #6c757d;
}
.rec-container .rec-ingredients .ingredient-preparation::before {
  content: ", ";
}
