{% comment %}
  A set of controls at the top of the details page for in-page navigation and quick access to Admin change screens.

  Sets to sticky-top with a set `top` style, which fixes the controls to the top of the screen just below the nav bar
  (programmatically setting the `top` value using JS might be worth a look?)

  Context:
    recipe - a Recipe model instance.
    mode - a string that switches the output of this template.
      If 'start_scrollspy', opens the tag to start the appropriate ScrollSpy container
      If 'end_scrollspy', closes that tag.
      If 'scrollspy_js', provides the JS controls to activate ScrollSpy.
      Otherwise, outputs the main page controls that go at the top of the page.
{% endcomment %}

{% with scrollspy_target="inpage-navigation" %}

{% if mode == "start_scrollspy" %}
  <div data-spy="scroll" data-target="#{{ scrollspy_target }}" data-offset="0"><!-- START scrollspy container -->
{% elif mode == "end_scrollspy" %}
  </div><!-- END scrollspy container -->
{% elif mode == "scrollspy_js" %}
  <script>
  $(function() {
    $('body').css({"position": "relative"});
    $('body').scrollspy({ target: '#{{ scrollspy_target }}' });
  });
  </script>
{% else %}
  <section class="rec-controls d-print-none sticky-top" style="top:55px;"><!-- START page controls -->
    {# Wrapped in a utility to give it some initial styling, but feel free to remove that container and make changes to the section tag in CSS rules. #}
    <nav id="{{ scrollspy_target }}" class="navbar navbar-light bg-light border border-primary mb-3 rounded-lg">
      <ul class="nav nav-pills" role="group" aria-label="Nav controls">

        {% if perms.recipes %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle mr-1 bg-success text-light" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-pencil-alt"></i>
          </a>
          <div class="dropdown-menu">
            {% if perms.recipes.change_recipe %}
            <a href="{% url "admin:recipes_recipe_change" recipe.pk %}" class="dropdown-item">
              <i class="fas fa-edit"></i>
              Edit this Recipe
            </a>
            {% endif %}
            {% if perms.recipes.add_recipe %}
            <a href="{% url "admin:recipes_recipe_add" %}" class="dropdown-item">
              <i class="fas fa-plus-circle"></i>
              Create a new Recipe
            </a>
            {% endif %}
            {% if perms.recipes.delete_recipe %}
            <a href="{% url "admin:recipes_recipe_delete" recipe.pk %}" class="dropdown-item text-wrap">
              <i class="fas fa-trash"></i>
              Delete this Recipe (confirmation required)
            </a>
            {% endif %}
          </div><!-- .dropdown-menu -->
        </li>
        {% endif %}

        {% if recipe.description %}
        <li class="nav-item">
          <a class="nav-link" href="#description" data-toggle="tooltip" data-placement="bottom" title="Go to Description">
            <i class="fas fa-pen-nib"></i>
            <span class="sr-only">Description</span>
          </a>
        </li>
        {% endif %}

        {% if recipe.ingredients.all or recipe.directions %}
        <li class="nav-item">
          <a class="nav-link" href="#actual-recipe" data-toggle="tooltip" data-placement="bottom" title="Go to the Recipe">
            <i class="fas fa-utensil-spoon"></i>
            <span class="sr-only">Recipe</span>
          </a>
        </li>
        {% endif %}

        {% if recipe.footnotes %}
        <li class="nav-item">
          <a class="nav-link" href="#footnotes" data-toggle="tooltip" data-placement="bottom" title="Go to Footnotes">
            <i class="fas fa-pencil-alt"></i>
            <span class="sr-only">Footnotes</span>
          </a>
        </li>
        {% endif %}

        {% if recipe.nutrition_label %}
        <li class="nav-item">
          <a class="nav-link" href="#nutrition" data-toggle="tooltip" data-placement="bottom" title="Go to Nutrition">
            <i class="fas fa-candy-cane"></i>
            <span class="sr-only">Nutrition</span>
          </a>
        </li>
        {% endif %}

      </ul>
    </nav><!-- #{{ scrollspy_target }} -->
  </section><!-- END page controls -->
{% endif %}

{% endwith %}
