{% comment %}
  Controls for the recipe detail page
{% endcomment %}

<div class="flex justify-end mb-5 print:hidden">
  {# Print button #}
  {# TODO adjust to match admin control buttons #}
  {#   Potentially, finally, make a class specific to these types of buttons? #}
  <button
    id="print-recipe-btn"
    class="rounded-md px-2 py-1 border border-transparent bg-indigo-500 text-white hover:bg-indigo-400 text-sm"
  >
    <i class="fas fa-print"></i>
    Print
  </button>

  {% if perms.recipes.change_recipe %}
  <div class="ml-3">
    {% include "recipes/components/admin_control.html" with mode="edit" recipe_pk=recipe.pk %}
  </div>
  {% endif %}
</div>
