{% comment %}
  The nutritional info section for the detail page.

  Context:
    recipe - a Recipe model instance.
{% endcomment %}

{% if recipe.nutrition_label %}
<section class="rec-nutrition">
  <a class="anchor" id="nutrition"></a>
  <div class="card mb-3">
    <div class="card-header bg-info text-light">
      <strong>Nutrition</strong>
    </div>
    <div class="card-body">
      <div class="col-sm-8 col-md-6">
        <img class="border border-info img-fluid" src="{{ recipe.nutrition_label.url }}"/>
      </div>
    </div>
  </div>
</section>
{% endif %}
