{% extends "recipes/base.html" %}
{% load static %}
{% load hometool_tags %}

{# Overwrite the original head_title block so we don't have a hanging chad, so to speak. #}
{% block head_title %}Recipes{% endblock %}

{% block head_css %}
  <link rel="stylesheet" href="{% static 'recipes/css/recipe_list.css' %}">
{% endblock head_css %}

{% block recipe_body_content %}
  {% include "widgets/breadcrumbs.html" with page_title="Recipes" %}

  {# Custom list title thing #}
  <div class="card mb-4 bg-info text-white">
    <div class="card-header">
      <h1 class="h2">
        <i class="fas fa-utensils"></i>
        Recipes
      </h1>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md col-lg-8">
          <p class="lead mb-md-0">
            Things we've made that we think are pretty tasty.
          </p>
        </div>
        <div class="col-md">
          {% include 'recipes/components/recipe_list/search.html' with search_term=search_term %}
        </div>
      </div>
    </div>
    {% if search_term %}
    <div class="card-footer bg-light text-dark">
      {% include 'recipes/components/recipe_list/search.html' with search_term=search_term mode="result_notice" return_count=recipes.count all_recipes_count=all_recipes_count %}
    </div>
    {% endif %}
  </div>


  <div class="col-lg-10 offset-lg-1">
    {% for recipe in recipes %}
    {% if forloop.first %}<div class="card-columns">{% endif %}
      <div class="card border-primary">
        <div class="card-header">
          <a href="{{ recipe.get_absolute_url }}" class="stretched-link">
            <h5 class="card-title mb-0">{{ recipe.title }}</h5>
          </a>
          {% if recipe.total_time %}
          <span class="badge badge-info">
            <i class="fas fa-clock"></i>
            {{ recipe.total_time_str }}
          </span>
          {% endif %}
        </div>
        <div class="card-body">
          <p class="mb-0">{{ recipe.subtitle }}</p>
        </div>
      </div>
    {% if forloop.last %}</div>{% endif %}
    {% empty %}
    <div class="alert alert-warning font-italic">
      No recipes found
    </div>
    {% endfor %}
  </div>
{% endblock recipe_body_content %}

{% block recipe_body_js %}{% endblock recipe_body_js %}
