{% extends "recipes/base.html" %}
{% load hometool_tags %}

{# Overwrite the original head_title block so we don't have a hanging chad, so to speak. #}
{% block head_title %}Recipes{% endblock %}

{% block head_css %}
  <link rel="stylesheet" href="{% static 'recipes/css/recipe_list.css' %}">
{% endblock head_css %}

{% block recipe_body_content %}
  {% include "widgets/breadcrumbs.html" with page_title="Recipes" %}
  {% include 'widgets/title_card.html' with title='<i class="fas fa-utensils"></i> Recipes' subtitle="Things we've made that we think are pretty tasty." card_classes="bg-info text-white" %}

  <div class="col-lg-10 offset-lg-1">
    <div class="card-columns">
    {% for recipe in recipes %}
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ recipe.title }}</h5>
          <p class="card-text">{{ recipe.subtitle }}</p>
          <a href="{% url 'recipes:recipe-detail' pk=recipe.pk slug=recipe.slug %}" class="btn btn-primary stretched-link">

            See recipe
          </a>
          {# TODO: make a fucking detail page #}
        </div>
      </div>
    {% endfor %}
    </div>
  </div>
{% endblock recipe_body_content %}

{% block recipe_body_js %}{% endblock recipe_body_js %}
