{% extends "recipes/base.html" %}
{% load static %}
{% load admin_urls %}

Making a new template? Copy the blocks from this file, then fill in your details as needed.
Be sure the `extends` tag remains the first line in the file, as Django requires.
And feel free to remove blocks you don't need to change.

{% block recipe_head_title %}{{ recipe.title }}{% endblock %}
{% block head_css %}
  <link rel="stylesheet" href="{% static 'recipes/css/recipe_detail.css' %}?v=0.1.0">
{% endblock head_css %}

{% comment %}
{% block recipe_head_extra_meta %}{% endblock recipe_head_extra_meta %}
{% block recipe_head_js %}{% endblock head_js recipe_head_js %}
{% block recipe_body_container_classes %}{% endblock recipe_body_container_classes %}
{% endcomment %}

{% block recipe_body_content %}

{##### Breadcrumbs #####}
{% url 'recipes:recipe-list' as recipes_list_url %}
{% include "widgets/breadcrumbs.html" with page_title=recipe.title extra_links=recipes_list_url|add:"|Recipes" %}

<article class="rec-container" data-recipe-id="{{ recipe.id }}">

  {# Control bar #}
  {% include 'recipes/components/recipe_detail/controls.html' with recipe=recipe %}

  {# Header #}
  {% include 'recipes/components/recipe_detail/header.html' with recipe=recipe %}

  {# Scrollspy container for page controls #}
  {% include 'recipes/components/recipe_detail/controls.html' with scrollspy_container='start' %}
    {# Page sections #}
    {% include 'recipes/components/recipe_detail/description.html' with recipe=recipe %}
    {% include 'recipes/components/recipe_detail/ingredients.html' with recipe=recipe %}
    {% include 'recipes/components/recipe_detail/directions.html' with recipe=recipe %}
    {% include 'recipes/components/recipe_detail/footnotes.html' with recipe=recipe %}
    {% include 'recipes/components/recipe_detail/nutrition.html' with recipe=recipe %}
  {% include 'recipes/components/recipe_detail/controls.html' with scrollspy_container='end' %}

</article><!-- .rec-container -->

{% endblock recipe_body_content %}


{% block recipe_body_js %}
<script>
$(function() {
  $('body').css({"position": "relative"});
  $('body').scrollspy({ target: '#inpage-navigation' });
});
</script>
{% endblock recipe_body_js %}
