{% extends "recipes/base.html" %}
{% load static %}
{% load admin_urls %}

Making a new template? Copy the blocks from this file, then fill in your details as needed.
Be sure the `extends` tag remains the first line in the file, as Django requires.
And feel free to remove blocks you don't need to change.

{% block recipe_head_title %}{{ recipe.title }}{% endblock %}
{% block head_css %}
  <link rel="stylesheet" href="{% static 'recipes/css/recipe_detail.css' %}?v=0.1.0">
{% endblock head_css %}

{% comment %}
{% block recipe_head_extra_meta %}{% endblock recipe_head_extra_meta %}
{% block recipe_head_js %}{% endblock head_js recipe_head_js %}
{% block recipe_body_container_classes %}{% endblock recipe_body_container_classes %}
{% endcomment %}

{% block recipe_body_content %}

{##### Breadcrumbs #####}
{% url 'recipes:recipe-list' as recipes_list_url %}
{% include "widgets/breadcrumbs.html" with page_title=recipe.title extra_links=recipes_list_url|add:"|Recipes" %}

<article class="rec-container"
         data-recipe-id="{{ recipe.id }}">


  {##### Control bar #####}
  <section class="rec-controls d-print-none sticky-top" style="top:55px;">
    {# Wrapped in a utility to give it some initial styling, but feel free to remove that container and make changes to the section tag in CSS rules. #}
    <nav id="inpage-navigation" class="navbar navbar-light bg-light border border-primary mb-3 rounded-lg">
      <ul class="nav nav-pills" role="group" aria-label="Nav controls">
        <li class="nav-item">
          <a class="nav-link" href="#top-of-page" data-toggle="tooltip" data-placement="bottom" title="Go to Top">
            <i class="fas fa-fw fa-chevron-up"></i>
            <span class="sr-only">Top</span>
          </a>
        </li>

        {% if recipe.description %}
        <li class="nav-item">
          <a class="nav-link" href="#description" data-toggle="tooltip" data-placement="bottom" title="Go to Description">
            <i class="fas fa-fw fa-pen-nib"></i>
            <span class="sr-only">Description</span>
          </a>
        </li>
        {% endif %}

        {% if recipe.ingredients.all %}
        <li class="nav-item">
          <a class="nav-link" href="#ingredients" data-toggle="tooltip" data-placement="bottom" title="Go to Ingredients">
            <i class="fas fa-fw fa-th-list"></i>
            <span class="sr-only">Ingredients</span>
          </a>
        </li>
        {% endif %}

        {% if recipe.directions %}
        <li class="nav-item">
          <a class="nav-link" href="#directions" data-toggle="tooltip" data-placement="bottom" title="Go to Directions">
            <i class="fas fa-fw fa-utensil-spoon"></i>
            <span class="sr-only">Directions</span>
          </a>
        </li>
        {% endif %}

        {% if recipe.footnotes %}
        <li class="nav-item">
          <a class="nav-link" href="#footnotes" data-toggle="tooltip" data-placement="bottom" title="Go to Footnotes">
            <i class="fas fa-fw fa-pencil-alt"></i>
            <span class="sr-only">Footnotes</span>
          </a>
        </li>
        {% endif %}

        {% if recipe.nutrition_label %}
        <li class="nav-item">
          <a class="nav-link" href="#nutrition" data-toggle="tooltip" data-placement="bottom" title="Go to Nutrition">
            <i class="fas fa-fw fa-candy-cane"></i>
            <span class="sr-only">Nutrition</span>
          </a>
        </li>
        {% endif %}

      </ul>
      {% if perms.recipes %}
      <ul class="nav nav-pills" role="group" aria-label="Editing controls">
        {% if perms.recipes.add_recipe %}
        <li class="nav-item">
          <a href="{% url "admin:recipes_recipe_add" %}" class="nav-link" data-toggle="tooltip" data-placement="bottom" title="Create a new Recipe">
            <i class="fas fa-fw fa-plus-circle"></i>
          </a>
        </li>
        {% endif %}
        {% if perms.recipes.change_recipe %}
        <li class="nav-item">
          <a href="{% url "admin:recipes_recipe_change" recipe.pk %}" class="nav-link" data-toggle="tooltip" data-placement="bottom" title="Edit this Recipe">
            <i class="fas fa-fw fa-edit"></i>
          </a>
        </li>
        {% endif %}
        {% if perms.recipes.delete_recipe %}
        <li class="nav-item">
          <a href="{% url "admin:recipes_recipe_delete" recipe.pk %}" class="nav-link" data-toggle="tooltip" data-placement="bottom" title="Delete this Recipe (confirmation required)">
            <i class="fas fa-fw fa-trash"></i>
          </a>
        </li>
        {% endif %}
      </div>
      {% endif %}
    </div>
  </section>


  {##### Header #####}
  <section class="rec-header">
    <div class="card mb-4">
      <div class="card-header bg-primary text-light">
        <h1 class="card-title mb-0">{{ recipe.title }}</h1>
      </div>
      <div class="card-body">
        <p class="lead">{{ recipe.subtitle }}</p>

        <dl class="row mb-0">
          {% if recipe.time_to_prep or recipe.time_to_cook %}
          <div class="col-md-6">
            <div class="row">
            {% if recipe.time_to_prep %}
              <dt class="col-sm-3 col-md-4">Prep time</dt>
              <dd class="col-sm-9 col-md-8">{{ recipe.time_to_prep_str }}</dd>
            {% endif %}

            {% if recipe.time_to_cook %}
              <dt class="col-sm-3 col-md-4">Cook time</dt>
              <dd class="col-sm-9 col-md-8">{{ recipe.time_to_cook_str }}</dd>
            {% endif %}
            </div>
          </div>
          {% endif %}

          <div class="col-md-6">
            <div class="row">
              <dt class="col-sm-3 col-md-4 font-italic">Added</dt>
              <dd class="col-sm-9 col-md-8 font-italic">{{ recipe.time_created|timesince }} ago</dd>

              <dt class="col-sm-3 col-md-4 font-italic">Updated</dt>
              <dd class="col-sm-9 col-md-8 font-italic">{{ recipe.time_modified|timesince }} ago</dd>
            </div>
          </div>
        </dl>
      </div>
    </div>

  </section><!-- .rec-header -->


  <div data-spy="scroll" data-target="#inpage-navigation" data-offset="0">

    {##### Description #####}
    {% if recipe.description %}
    <section class="rec-description d-print-none">
      <a class="anchor" id="description"></a>
      <div class="card mb-3">
        <div class="card-header bg-outline-info flex justify-content-between">
          <strong>Description</strong>
          <a class="btn btn-primary fuck-the-description-btn" data-toggle="collapse" data-target="#descriptionBody">
            F*** this
            <i class="fas fa-chevron-down" aria-hidden="true"></i>
          </a>
        </div>
        <div id="descriptionBody" class="collapse show card-body">
          {{ recipe.description|safe }}
        </div>
      </div>
    </section><!-- .rec-description -->
    {% endif %}


    {##### Ingredients #####}
    {% if recipe.ingredients.all %}
    <section class="rec-ingredients">
      <a class="anchor" id="ingredients"></a>
      <div class="card mb-3">
        <div class="card-header bg-info text-light">
          <strong>Ingredients</strong>
        </div>
        <div class="list-group list-group-flush">
          {% for ingredient in recipe.ingredients.all %}
            {# {% if forloop.first %}<ul class="rec-ingredient-list mb-0">{% endif %} #}
            <div class="rec-ingredient-item list-group-item"
                data-rec-ingredient-id="{{ ingredient.pk }}"
                data-rec-ingredient-type-id="{{ ingredient.type.id }}">
              {% spaceless %}
                {% comment %}
                  Using spaceless, we wrap each part in a span so that we can control the spacing around them.
                  This means we need to add literal spaces at the end of some strings, before the closing tag,
                  in order for the spacing to work out right.

                  Meanwhile, we can also add classes to those elements to help target them in future,
                  either with CSS or JS.
                {% endcomment %}
                <span class="ingredient-amount">{{ ingredient.amount_fraction_str }} </span>
                {% if ingredient.amount_uom == ingredient.UOM_BLANK %}
                  <span class="ingredient-type" data-pluralize>{% if ingredient.type.plural_name %}{{ ingredient.type.plural_name }}{% else %}{{ ingredient.type.name }}{{ ingredient.amount|pluralize }}{% endif %}</span>
                {% else %}
                  <span class="ingredient-amount-uom" data-pluralize>{{ ingredient.get_amount_uom_display }}{{ ingredient.amount|pluralize }} </span>
                  <span class="ingredient-type">{{ ingredient.type }}</span>
                {% endif %}
                {% if ingredient.preparation %}
                <span class="ingredient-preparation">, {{ ingredient.preparation }}</span>
                {% endif %}
              {% endspaceless %}
            </div>
            {# {% if forloop.last %}</ul>{% endif %} #}
          {% empty %}
          <p>
            <em>None</em>
          </p>
          {% endfor %}
        </div>
      </div>

    </section><!-- .rec-ingredients -->
    {% endif %}


    {##### Directions #####}
    {% if recipe.directions %}
    <section class="rec-directions">
      <a class="anchor" id="directions"></a>
      <div class="card mb-3">
        <div class="card-header bg-info text-light">
          <strong>Directions</strong>
        </div>
        <div class="card-body">
          {{ recipe.directions|safe }}
        </div>
      </div>
    </section><!-- .rec-directions -->
    {% endif %}


    {##### Footnotes #####}
    {% if recipe.footnotes %}
    <section class="rec-footnotes">
      <a class="anchor" id="footnotes"></a>
      <div class="card mb-3">
        <div class="card-header bg-info text-light">
          <strong>Footnotes</strong>
        </div>
        <div class="card-body">
          {{ recipe.footnotes|safe }}
        </div>
      </div>
    </section><!-- .rec-footnotes -->
    {% endif %}


    {##### Nutrition information #####}
    {% if recipe.nutrition_label %}
    <section class="rec-nutrition">
      <a class="anchor" id="nutrition"></a>
      <div class="card mb-3">
        <div class="card-header bg-info text-light">
          <strong>Nutrition</strong>
        </div>
        <div class="card-body">
          <div class="col-sm-8 col-md-6">
            <img class="border border-info img-fluid" src="{{ recipe.nutrition_label.url }}"/>
          </div>
        </div>
      </div>
    </section>
    {% endif %}

  </div><!-- scrollspy container -->
</article><!-- .rec-container -->

{% endblock recipe_body_content %}


{% block recipe_body_js %}
<script>
$(function() {
  $('body').css({"position": "relative"});
  $('body').scrollspy({ target: '#inpage-navigation' });
});
</script>
{% endblock recipe_body_js %}
