{% extends "base.html" %}

{# TODO build this up a bit more #}
{# Access: http://localhost:8000/accounts/login/?next=/ #}

{% block body_content %}
<h2>Login</h2>
<form method="post">
  {% csrf_token %}
  <div class="form-group">
    <label for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
    <input type="text" class="form-control" id="{{ form.username.id_for_label }}" name="{{ form.username.name }}"/>
  </div>
  <div class="form-group">
    <label for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
    <input type="password" class="form-control" id="{{ form.password.id_for_label }}" name="{{ form.password.name }}"/>
  </div>
  <button class="btn btn-success" type="submit">
    <i class="fas fa-sign-in-alt" aria-hidden="true"></i>
    Login
  </button>
</form>
{% endblock %}
