[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=4.0.1"
django-admin-sortable2 = "~=1.0"
django-csp = "~=3.7"
django-environ = "~=0.8.1"
django-filter = "~=21.1"
django-fractions = "~=2.0.0"
django-tinymce = "~=3.4.0"
djangorestframework = "~=3.13.1"
gunicorn = "~=20.1.0"
markdown = "~=3.3.6"
pillow = "~=9.0.0"
psycopg2-binary = "~=2.9.3"
secure = "~=0.3.0"
wheel = "~=0.37.1"

[dev-packages]
pytest = "~=6.2.5"
pytest-django = "~=4.5.2"
flake8 = "~=3.9.0"
black = "==21.12b0"
pre-commit = "~=2.16.0"

[requires]
python_version = "3.10"
