{% comment %}
  Adjusted from: https://tailwindcomponents.com/component/pagination-buttons
{% endcomment %}

<div class="flex justify-center mt-4">
  {% if page_obj.has_previous %}
  {# "Previous" button #}
  <a
    href="?{% if search_term %}query={{ search_term }}&{% endif %}page={{ page_obj.previous_page_number }}"
    class="flex font-bold block items-center mr-2 px-4 py-3 rounded-sm
            border border-indigo-500 text-indigo-500
            hover:bg-indigo-500 hover:text-white"
  >
    {# Left arrow SVG #}
    <svg class="h-5 w-5 mr-2 fill-current" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          viewBox="-49 141 512 512" style="enable-background:new -49 141 512 512;" xml:space="preserve">
      <path d="M438,372H36.355l72.822-72.822c9.763-9.763,9.763-25.592,0-35.355c-9.763-9.764-25.593-9.762-35.355,0
                l-115.5,115.5C-46.366,384.01-49,390.369-49,397s2.634,12.989,7.322,17.678l115.5,115.5c9.763,9.762,25.593,9.763,35.355,0
                c9.763-9.763,9.763-25.592,0-35.355L36.355,422H438c13.808,0,25-11.193,25-25S451.808,372,438,372z"/>
    </svg>
    Previous page
  </a>
  {% endif %}

  {% if page_obj.has_next %}
  {# "Next" button #}
  <a
    href="?{% if search_term %}query={{ search_term }}&{% endif %}page={{ page_obj.next_page_number }}"
    class="flex font-bold block items-center mr-2 px-4 py-3 rounded-sm
            border border-transparent bg-indigo-500 text-white"
  >
    Next page
    {# Right arrow SVG #}
    <svg class="h-5 w-5 ml-2 fill-current" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          viewBox="-49 141 512 512" style="enable-background:new -49 141 512 512;" xml:space="preserve">
      <path d="M-24,422h401.645l-72.822,72.822c-9.763,9.763-9.763,25.592,0,35.355c9.763,9.764,25.593,9.762,35.355,0
                l115.5-115.5C460.366,409.989,463,403.63,463,397s-2.634-12.989-7.322-17.678l-115.5-115.5c-9.763-9.762-25.593-9.763-35.355,0
                c-9.763,9.763-9.763,25.592,0,35.355l72.822,72.822H-24c-13.808,0-25,11.193-25,25S-37.808,422-24,422z"/>
    </svg>
  </a>
  {% endif %}
</div>
