{% comment %}
  A custom title card for the RecipeList view.

  Context:
    recipes - a QuerySet of Recipe instances
    search_term - a search query term passed back from the view.
      Should match the content of the "?query" GET parameter. Defaults to None.
    all_recipes_count - a count of all Recipe instances in the system, returned by the view.
      Mainly used to compare to the `recipes.count` total, which may be filtered down based on search terms.
{% endcomment %}

<div class="card mb-4 bg-info text-white">
  <div class="card-header d-flex align-items-center justify-content-between">
    <h1 class="h2">
      <i class="fas fa-utensils"></i>
      Recipes
    </h1>
    {% if perms.recipes.add_recipe %}
    <a href="{% url "admin:recipes_recipe_add" %}" class="btn btn-outline-light" data-toggle="tooltip" data-placement="left" title="Add a Recipe">
      <i class="fas fa-plus"></i>
      <span class="sr-only">Create a new Recipe</span>
    </a>
    {% endif %}
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md col-lg-8">
        <p class="lead mb-md-0">
          Things we've made that we think are pretty tasty.
        </p>
      </div>
      <div class="col-md">
        {% include 'recipes/components/recipe_list/search.html' with search_term=search_term %}
      </div>
    </div>
  </div>
  {% if search_term %}
  <div class="card-footer bg-light text-dark">
    {% include 'recipes/components/recipe_list/search.html' with search_term=search_term mode="result_notice" return_count=recipes.count all_recipes_count=all_recipes_count %}
  </div>
  {% endif %}
</div>
