<li class="ml-0 print:my-0 print:leading-snug pl-0">
  <div class="print:hidden">
    <label class="flex flex-row items-start">
      <input
        type="checkbox"
        class="peer mr-3 mt-1.5 print:mt-0.5
              rounded
              bg-gray-200
              border-transparent
              focus:border-transparent focus:bg-gray-200
              text-gray-700
              focus:ring-1 focus:ring-offset-2 focus:ring-gray-500"
      />
      <span
        class="peer-checked:line-through peer-checked:text-gray-200 transition ease-in-out"
      >
        {{ ingredient }}
      </span>
    </label>
  </div>
  <div class="hidden print:flex">
    <i class="fa-regular fa-square-full mr-2 text-gray-400 mt-0.5"></i>
    <span>{{ ingredient }}</span>
  </div>
</li>
