{% load static %}

<header class="print:hidden">
  <nav class="flex p-6 items-center justify-between flex-wrap bg-indigo-500">
    <a
      href="{% url 'recipes:recipe-list' %}"
      class="flex items-center flex-no-shrink text-white mr-6"
    >
      {% include "components/logo_svg.html" with classes="fill-current h-12 mr-4" %}
      <span class="font-semibold text-xl tracking-tight">RicePrower Recipes</span>
    </a>
    <div class="block lg:hidden">
      <button
        class="top-bar-btn flex items-center px-3 py-2"
        _="on click toggle .hidden on #header-mini-menu
           then toggle between .fa-bars and .fa-times on #header-mini-menu-icon"
      >
        <i
          id="header-mini-menu-icon"
          class="fas fa-bars fa-fw"
        ></i>
      </button>
    </div>
    <div
      id="header-mini-menu"
      class="w-full lg:flex lg:items-center lg:w-auto hidden"
    >
      <div class="flex flex-col lg:block text-center">
        {% if request.user.is_staff %}
        <a
          href="{% url 'admin:index' %}"
          class="top-bar-btn inline-block lg:mt-0 mt-4 px-4 py-2 lg:text-sm"
        >
          <i class="fas fa-fw fa-user-shield"></i>
          Admin
        </a>
        {% endif %}
        {% if request.user.is_authenticated %}
        <a
          href="{% url 'logout' %}"
          class="top-bar-btn inline-block lg:mt-0 mt-4 px-4 py-2 lg:text-sm"
        >
          <i class="fas fa-fw fa-sign-out-alt"></i>
          Logout
        </a>
        {% else %}
        <a
          href="{% url 'login' %}"
          class="top-bar-btn inline-block lg:mt-0 mt-4 px-4 py-2 lg:text-sm"
        >
          <i class="fas fa-fw fa-sign-in-alt"></i>
          Login
        </a>
        {% endif %}
      </div>
    </div>
  </nav>
</header>
