{% comment %}
  The description section for the detail page.

  Description are treated as HTML, with |safe filter applied. Watch out for JS code injection!

  Context:
    recipe - a Recipe model instance.
{% endcomment %}

{% if recipe.description %}
<section class="rec-description d-print-none">
  {# Anchor target for page scrolling and ScrollSpy #}
  <a class="anchor" id="description"></a>

  <div class="card mb-3">
    <div class="card-header bg-outline-info flex justify-content-between font-weight-bold">
      Description

      {# A "fuck this" button, for collapsing this section and letting us ignore it #}
      <a class="btn btn-primary fuck-the-description-btn" data-toggle="collapse" data-target="#descriptionBody">
        F*** this
        <i class="fas fa-chevron-down" aria-hidden="true"></i>
      </a>
    </div><!-- .card-header -->

    {# This body gets .collapse and an ID for a collapse target, and .show to keep it open initially #}
    <div id="descriptionBody" class="collapse show card-body">
      {{ recipe.description|safe }}
    </div><!-- .card-body -->
  </div><!-- .card -->
</section><!-- .rec-description -->
{% endif %}
