{% comment %}
  The list of ingredients section for the detail page.

  Context:
    recipe - a Recipe model instance.
      We will also be accessing the one-to-many relation `.igredients`,
      so it is best to prefetch these from the view code!
{% endcomment %}

{% if recipe.ingredients.all %}<a class="anchor" id="actual-recipe"></a>{% endif %}
{% if recipe.ingredients.all %}
<section class="rec-ingredients">
  <div class="card mb-3">
    <div class="card-header bg-info text-light font-weight-bold">
      Ingredients
    </div><!-- .card-header -->
    <div class="list-group list-group-flush">
      {% for ingredient in recipe.ingredients.all %}
        <div class="rec-ingredient-item list-group-item p-1 px-3"
            data-rec-ingredient-id="{{ ingredient.pk }}"
            data-rec-ingredient-type-id="{{ ingredient.type.id }}">
          {% spaceless %}
            {% comment %}
              Using spaceless, we wrap each part in a span so that we can control the spacing around them.
              This means we need to add literal spaces at the end of some strings, before the closing tag,
              in order for the spacing to work out right.

              Meanwhile, we can also add classes to those elements to help target them in future,
              either with CSS or JS.
            {% endcomment %}
            <span class="ingredient-amount">{{ ingredient.amount_fraction_str }} </span>
            {% if ingredient.amount_uom == ingredient.UOM_BLANK %}
              <span class="ingredient-type" data-pluralize>{% if ingredient.type.plural_name %}{{ ingredient.type.plural_name }}{% else %}{{ ingredient.type.name }}{{ ingredient.amount|pluralize }}{% endif %}</span>
            {% else %}
              <span class="ingredient-amount-uom" data-pluralize>{{ ingredient.get_amount_uom_display }}{{ ingredient.amount|pluralize }} </span>
              <span class="ingredient-type">{{ ingredient.type }}</span>
            {% endif %}
            {% if ingredient.preparation %}
            <span class="ingredient-preparation">, {{ ingredient.preparation }}</span>
            {% endif %}
          {% endspaceless %}
        </div><!-- .list-group-item -->
      {% endfor %}
    </div><!-- .list-group -->
  </div><!-- .card -->
</section><!-- .rec-ingredients -->
{% endif %}
