<!-- Footer -->
<footer class="container mx-auto bg-deepPurple-300 text-white text-center lg:text-left sticky top-[100vh] w-full">
  <div class="p-4 flex justify-between">
    <span class="text-left">
      © {{ 'now' | date: '%Y' }} Copyright:
      <strong>Galen Rice</strong>
    </span>
    <span class="text-right">
      <!-- FA icon for GitHub -->
      <!-- Link to GitHub -->
      <!-- Check this area shrunk, re-order -->
      See this code on Github!
    </span>
  </div>
</footer>
<!-- END Footer -->
