<nav
  class="sticky top-0 z-10 w-full flex flex-wrap items-center justify-between py-3 bg-deepPurple-500 text-white
         print:static print:bg-transparent print:text-black print:py-0"
>
  <div class="container print:w-full print:max-w-full mx-auto w-full flex flex-wrap items-center justify-between px-8 print:px-2">
    <div class="container-fluid">
      <a
        class="text-lg sm:text-xl font-semibold overflow-x-hidden whitespace-nowrap"
        href="/"
      >
        <i class="fa-solid fa-pizza-slice mr-2"></i>
        {{ site.title }}
      </a>
    </div>
  </div>
</nav>
