{% comment %}
  This is injected into Algolia search as a Handlebars template
  (actually as a JS template string within `` backticks).
  Handlebars is a similar syntax, so we need to exclude the template from Liquid using `raw` tags.
  See: https://www.algolia.com/doc/api-reference/widgets/hits/js/#templates
{% endcomment %}
{% raw %}
<div class="flex flex-col p-6 ring-1 rounded-md shadow-lg bg-white mb-4 overflow-auto">
  <div class="grid grid-cols-1 grid-row-2 sm:grid-rows-1 sm:grid-cols-[300px_auto]">
    <a href="{{url}}" class="-m-6 mb-6 sm:-mb-6 sm:mr-4 block">
      <img src="{{image}}" class="m-0 w-full sm:w-auto sm:h-full object-cover" alt="">
    </a>
    <div>
      <a href="{{url}}" class="no-underline">
        <h5 class="text-gray-900 text-xl leading-tight font-medium mb-2">
          {{title}}
        </h5>
      </a>
      <p class="text-gray-700 text-base mb-4 mt-0">
        {{subtitle}}
      </p>
    </div>
  </div>
</div>
{% endraw %}
