{% comment %}
  A card for a single recipe in the RecipeList view.

  Context:
    recipe - an instance of the Recipe model.
{% endcomment %}

<div class="card border-primary">
  <div class="card-header">
    <a href="{{ recipe.get_absolute_url }}" class="stretched-link">
      <h5 class="card-title mb-0">{{ recipe.title }}</h5>
    </a>
    {% if recipe.total_time %}
    <span class="badge badge-info">
      <i class="fas fa-clock"></i>
      {{ recipe.total_time_str }}
    </span>
    {% endif %}
  </div>
  <div class="card-body">
    <p class="mb-0">{{ recipe.subtitle }}</p>
  </div>
</div>
