{% comment %}
  Base template for the full site. All other pages should extend from here.
{% endcomment %}
{% load static %}

<!DOCTYPE html>
<html lang="en" class="h-full">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {# Extra meta tags per page can go here #}
  {% block head_extra_meta %}{% endblock %}

  {# App CSS #}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}?v=1.3.0">  {# Tip: update the `?v` param to force browsers to recache a new file version. #}
  {# Extra JS from downstream apps goes here #}
  {% block head_css %}{% endblock %}

  {# FontAwesome 5 kit via CDN #}
  <script src="https://kit.fontawesome.com/4f678b0cb8.js" crossorigin="anonymous"></script>

  {## HEAD JS - deferred scripts only! ##}
  {# Alpine JS #}
  <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@2.8.1/dist/alpine.js" integrity="sha256-wO9diDJWQhgGNe7+ZOCTsjDauLCvQkD2rE0AIBOHE7I=" crossorigin="anonymous"></script>
  {% block head_js %}{% endblock head_js %}

  <title>{% block head_title_override %}{% block head_title %}{% endblock head_title %} | Rice-Prower Recipes{% endblock head_title_override %}</title>
</head>
<body class="flex flex-col h-full" id="recipe-site-app">
  {% block full_body_override %}
  {% include "components/base_header.html" %}

  {# All main content resides within a container #}
  <main role="main" class="{% block main_body_classes %}flex-1 mx-auto p-8 container{% endblock main_body_classes %}">
    {% block body_content %}{% endblock body_content %}
  </main>

  {% include "components/base_footer.html" %}

  {## JAVASCRIPT LOADED AFTER BODY ##}
  {% block body_js %}{% endblock body_js %}

  {% endblock full_body_override %}
</body>
</html>
