{% load static %}

<div class="navbar bg-neutral text-neutral-content print:hidden">
  <div class="navbar-start">
    <a
      class="btn btn-ghost no-animation normal-case text-xl"
      href="{% url 'recipes:recipe-list' %}"
    >
      {% include "partials/logo_svg.html" with classes="fill-current h-12 mr-4" logo_title="RicePrower Recipes" %}
    </a>
  </div>

  {# Center site title, hidden on small screen #}
  <div class="navbar-center hidden md:flex">
    <span class="font-semibold text-xl tracking-tight">RicePrower Recipes</span>
  </div>
  <div class="navbar-end gap-2">
    {# Search form #}
    <form action="{% url 'recipes:recipe-list' %}" method="GET">
      <div class="form-control">
        <input
          type="text"
          name="query"
          onFocus="this.select()"
          value="{{ search_term|default:"" }}"
          placeholder="Find recipes"
          class="input input-bordered"
        />
      </div>
    </form>

    {# User login/logout menu #}
    <div class="dropdown dropdown-end">
      <label
        tabindex="0"
        class="btn btn-ghost btn-square"
      >
        <i class="fa-solid fa-bars"></i>
      </label>
      <ul
        tabindex="0"
        class="menu dropdown-content p-2 shadow bg-neutral rounded-box w-52"
      >
      {% if request.user.is_authenticated %}
        <li>
          <a href="{% url 'logout' %}">
            <i class="fa-solid fa-fw fa-sign-out-alt"></i>
            Logout
          </a>
        </li>
      {% else %}
        <li>
          <a href="{% url 'login' %}">
            <i class="fa-solid fa-fw fa-sign-in-alt"></i>
            Login
          </a>
        </li>
      {% endif %}
      </ul>
    </div>

    {# Admin controls #}
    {% if request.user.is_staff %}
    <a
      href="{% url 'admin:index' %}"
      class="btn btn-accent btn-square"
      title="Site admin"
    >
      <i class="fa-solid fa-fw fa-user-shield"></i>
    </a>
    {% endif %}
  </div>
</div>
