{% extends "recipes/base.html" %}
{% load static %}

{# Overwrite the original head_title block so we don't have a hanging chad, so to speak. #}
{% block head_title %}Home{% endblock %}

{% block recipe_body_content %}
  {# Admin controls #}
  {% if perms.recipes.add_recipe %}
  <div class="flex justify-end -mt-5 mb-3">
    {% include "recipes/partials/admin_control.html" with mode="add" %}
  </div>
  {% endif %}

  <div class="grid grid-flow-row md:grid-cols-2 lg:grid-cols-3 gap-4">
    {# Search results #}
    {% for recipe in recipes %}
      {% include "recipes/partials/recipe_list/recipe_card.html" with recipe=recipe %}
    {% empty %}
      <div class="alert alert-warning shadow-lg mt-2">
        <div>
          No recipes
          {% if search_term %}
          found matching <strong>{{ search_term }}</strong>
          {% else %}
          available
            {% if not request.user.is_authenticated %}
              for public viewing
            {% endif %}
          {% endif %}
        </div>

      </div>
    {% endfor %}

  </div>
  {# Pagination #}
  {% include "recipes/partials/recipe_list/pagination_controls.html" %}
{% endblock recipe_body_content %}

{% block recipe_body_js %}{% endblock recipe_body_js %}
