{% extends "recipes/base.html" %}
{% load static %}
{% load admin_urls %}

Making a new template? Copy the blocks from this file, then fill in your details as needed.
Be sure the `extends` tag remains the first line in the file, as Django requires.
And feel free to remove blocks you don't need to change.

{% block head_title %}{{ recipe.title }}{% endblock %}
{% block head_css %}
  <link rel="stylesheet" href="{% static 'recipes/css/recipe_detail.css' %}?v=0.1.0">
{% endblock head_css %}

{% comment %}
{% block recipe_head_extra_meta %}{% endblock recipe_head_extra_meta %}
{% block recipe_head_js %}{% endblock head_js recipe_head_js %}
{% block recipe_body_container_classes %}{% endblock recipe_body_container_classes %}
{% endcomment %}

{% block recipe_body_content %}

<article class="rec-container m-auto max-w-5xl" data-recipe-id="{{ recipe.id }}">

  {# Header #}
  <section class="rec-header">
    {% include 'recipes/components/recipe_detail/header.html' with recipe=recipe %}
  </section>

  {% if recipe.description %}
  {# Description #}
  <section class="rec-description">
    {{ recipe.description|safe }}
  </section>
  {% endif %}

  {% if recipe.ingredients.all %}
  {# Ingredients #}
  <h2 class="text-2xl text-gray-500 uppercase">
    Ingredients
  </h2>
  <section class="rec-ingredients">
    {% include 'recipes/components/recipe_detail/ingredients.html' with recipe=recipe %}
  </section>
  {% endif %}

  {% if recipe.directions %}
  {# Directions #}
  <section class="rec-directions">
    <h2 class="text-2xl text-gray-500 uppercase">
      Directions
    </h2>
    {{ recipe.directions|safe }}
  </section>
  {% endif %}

  {% if recipe.footnotes %}
  {# Footnotes #}
  <section class="rec-footnotes">
    <h2 class="text-2xl text-gray-500 uppercase">
      Footnotes
    </h2>
    {{ recipe.footnotes|safe }}
  </section>
  {% endif %}

  {% if recipe.nutrition_label %}
  {# Nutrition label #}
  <section class="rec-nutrition">
    <h2 class="text-2xl text-gray-500 uppercase">
      Nutrition
    </h2>
    <img class="border border-info img-fluid" src="{{ recipe.nutrition_label.url }}"/>
  </section>
  {% endif %}

</article><!-- .rec-container -->

{% endblock recipe_body_content %}
