{% extends "recipes/base.html" %}
{% load static %}
{% load admin_urls %}

Making a new template? Copy the blocks from this file, then fill in your details as needed.
Be sure the `extends` tag remains the first line in the file, as Django requires.
And feel free to remove blocks you don't need to change.

{% block head_title %}{{ recipe.title }}{% endblock %}
{% block head_css %}
  <link rel="stylesheet" href="{% static 'recipes/css/recipe_detail.css' %}?v=0.1.0">
{% endblock head_css %}

{% comment %}
{% block recipe_head_extra_meta %}{% endblock recipe_head_extra_meta %}
{% block recipe_head_js %}{% endblock head_js recipe_head_js %}
{% block recipe_body_container_classes %}{% endblock recipe_body_container_classes %}
{% endcomment %}

{% block recipe_body_content %}

<article class="rec-container m-auto max-w-4xl" data-recipe-id="{{ recipe.id }}">

  {# Controls #}
  <section class="rec-controls">
    {% include 'recipes/components/recipe_detail/controls.html' with recipe=recipe %}
  </section>

  {# Header #}
  <section class="rec-header">
    {% include 'recipes/components/recipe_detail/header.html' with recipe=recipe %}
  </section>

  <div class="m-auto max-w-2xl">
    {# Stats #}
    <section class="rec-stats flex md:justify-between flex-wrap m-auto my-4 print:my-0">
      {% include 'recipes/components/recipe_detail/stats.html' with recipe=recipe %}
    </section>

    {% if recipe.description %}
    {# Description #}
    <section class="rec-description mb-5 p-3 rounded bg-gray-50 print:hidden">
      <div class="tiny-mce-content">
        {{ recipe.description|safe }}
      </div>
    </section>
    {% endif %}

    {% if recipe.ingredients.all %}
    {# Ingredients #}
    <section class="rec-ingredients mb-10">
      <h2 class="text-2xl text-indigo-500 uppercase font-bold mb-2">
        Ingredients
      </h2>
      {% include 'recipes/components/recipe_detail/ingredients.html' with recipe=recipe %}
    </section>
    {% endif %}

    {% if recipe.directions %}
    {# Directions #}
    <section class="rec-directions mb-10">
      <h2 class="text-2xl text-indigo-500 uppercase font-bold mb-2">
        Directions
      </h2>
      <div class="tiny-mce-content pl-4">
        {{ recipe.directions|safe }}
      </div>
    </section>
    {% endif %}

    {% if recipe.footnotes %}
    {# Footnotes #}
    <section class="rec-footnotes mb-10">
      <h2 class="text-2xl text-indigo-500 uppercase font-bold mb-2">
        Footnotes
      </h2>
      <div class="tiny-mce-content pl-4">
        {{ recipe.footnotes|safe }}
      </div>
    </section>
    {% endif %}

    {% if recipe.nutrition_label %}
    {# Nutrition label #}
    <section class="rec-nutrition mb-10">
      <h2 class="text-2xl text-indigo-500 uppercase font-bold mb-2">
        Nutrition
      </h2>
      <img class="border border-info img-fluid" src="{{ recipe.nutrition_label.url }}"/>
    </section>
    {% endif %}
  </div>

</article><!-- .rec-container -->

{% endblock recipe_body_content %}
