{% extends "recipes/base.html" %}
{% load static %}
{% load hometool_tags %}

{# Overwrite the original head_title block so we don't have a hanging chad, so to speak. #}
{% block head_title %}Home{% endblock %}

{% block head_css %}
  <link rel="stylesheet" href="{% static 'recipes/css/recipe_list.css' %}">
{% endblock head_css %}

{% block recipe_body_content %}
  {# Search bar #}
  {% include "recipes/components/recipe_list/search.html" with search_term=search_term %}

  {# Search results #}
  {% for recipe in recipes %}
    {% include "recipes/components/recipe_list/recipe_search_result.html" with recipe=recipe %}
  {% empty %}
  <div class="alert alert-warning font-italic">
    No recipes found
  </div>
  {% endfor %}

  {# Pagination #}
  {% include "recipes/components/recipe_list/pagination_controls.html" %}
{% endblock recipe_body_content %}

{% block recipe_body_js %}{% endblock recipe_body_js %}
