{% comment %}
  Shows admin control buttons of various types in a standard format.

  Modes WILL NOT check user permissions: you should do so in the calling template.
  That gives you control to create a single wrapper for all buttons.

  Context:
    mode -- type of admin button to show.
      "add" -- Add new recipe
      "edit" -- Edit a recipe. Requires recipe_pk context
    recipe_pk -- PK of a Recipe model instance. Needed for modes that act on a single recipe.
{% endcomment %}

{% with admin_btn_classes="rounded-r-md px-2 py-1 border border-transparent bg-indigo-500 text-white hover:bg-indigo-400" %}

{# Shield icon in front of the button #}
<div class="flex items-center text-sm">
  <span
    class="rounded-l-md border border-r-0 border-transparent bg-orange-100 px-2 py-1"
    title="Admin privileges"
  >
    <i class="fas fa-user-shield"></i>
  </span>

{# Modes #}
{% if mode == "add" %}
  <a
    href="{% url 'admin:recipes_recipe_add' %}"
    class="{{ admin_btn_classes }}"
  >
    <i class="fas fa-plus"></i>
    Add new recipe
  </a>
{% elif mode == "edit" %}
  <a
    href="{% url 'admin:recipes_recipe_change' recipe_pk %}"
    class="{{ admin_btn_classes }}"
  >
    <i class="fas fa-pen"></i>
    Change this recipe
  </a>
{% endif %}

</div>
{% endwith %}{# admin_btn_classes #}
