{% comment %}
  Set of breadcrumbs for the page.

  is_root (bool): whether this is the root page.
    Determines if Home is displayed as a link or a the current page.
  page_title (str): title of this page.

  extra_links (str): set of extra links to be included.
    This one's a bit complex, as it requires string splitting.

    "url|title;url|title"

    Each segment of "url|title" must be separated by ";"
    The "|" is then used to split the url and title apart for output.

    With that set, links in this format will produce "middle" links in the breadcrumbs,
    output after "Home" and before the current page.

    Further, `is_root` must be `False`, otherwise this is not processed.
{% endcomment %}
{% load hometool_tags %}

<nav aria-label="breadcrumb" class="mt-3 d-print-none">
  <ol class="breadcrumb">
    {% if is_root %}
    <li class="breadcrumb-item active" aria-current="page">Home</li>
    {% else %}
    <li class="breadcrumb-item"><a href="{% url 'homepage' %}">Home</a></li>
    {% for link in extra_links|split:";" %}
      {% with partial=link|split:"|" %}
        <li class="breadcrumb-item"><a href="{{ partial.0 }}">{{ partial.1 }}</a></li>
      {% endwith %}
    {% endfor %}
    <li class="breadcrumb-item active" aria-current="page">{{ page_title }}</li>
    {% endif %}
  </ol>
</nav>
