@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base styles fixes that Tailwind is messing with */
.md-toggle {
  display: none;
}
.md-search__input {
  background-color: transparent;
}
article .footnote {
  @apply prose max-w-none;
}

/* Custom styles for recipe content */
.recipe-contents {
  /* Basic style overwrites, setting up `prose` but adjusting some colors back to MD's styles */
  @apply prose prose-headings:text-deepPurple-500 max-w-none text-sm;
  --tw-prose-bold: var(--md-typeset-color);
  --tw-prose-body: var(--md-typeset-color);
  & img {
    @apply mb-0;
  }

  /* Ingredients list */
  & .recipe-ingredients {
    @apply text-xs;
    & h3 {
      @apply mb-0 font-bold;
    }
    /* Re-style the task list plugin output */
    & .task-list {
      @apply mt-0;
      & .task-list-item {
        @apply flex flex-row items-center ml-4;
        @apply transition ease-in-out;
        & input[type="checkbox"] {
          @apply ml-0 -mt-1.5 rounded bg-gray-200 border-transparent focus:border-transparent focus:bg-gray-200 focus:ring-1 focus:ring-offset-2 focus:ring-gray-50 text-gray-700;
          &:checked {
            @apply bg-gray-700;
          }
        }
        &:has(input[type="checkbox"]:checked) {
          @apply line-through text-gray-200;
        }
        & sup {
          /* Reference links to footnotes tend to get lost inside these items. */
          @apply ml-1 -mt-2;
        }
      }
    }
    & mark {
      @apply mx-0.5;
    }
  }

  /* Stats, including the hero image, prep times, etc. */
  & .recipe-stats-container {
    @apply mt-2 md:mt-4 md:flex md:justify-center;
    & .recipe-image {
      @apply md:max-w-96 mb-4 md:mb-0 md:mr-2;
      & img {
        @apply m-0 rounded-lg object-contain w-full md:max-w-80 h-auto;
      }
    }
    & .recipe-stats.cards {
      @apply m-0 h-full;
    }
  }

  /* Directions */
  & .recipe-directions {
    @apply text-xs;
    & ol {
      @apply marker:text-lg print:marker:text-lg marker:font-semibold text-sm;
    }
    & .admonition.ingredients {
      @apply mt-0 py-1 px-2 border-gray-300 text-gray-700/80;
      & p {
        @apply m-0 italic leading-4;
        &.admonition-title {
          /*
            We don't want these titles for this particular block.
            Adding an empty title (like `!!! ingredients ""`) omits it naturally.
            In case we forget, though, we can just hide it here.
          */
          @apply hidden;
        }
      }
    }
  }

  /* other overrides */
  sup .footnote-ref {
    @apply py-1 px-1 bg-deepPurple-900 text-gray-400 rounded no-underline;
  }
}

[data-md-color-scheme=slate] {
  @apply prose-headings:text-deepPurple-200;
  .recipe-ingredients {
    .task-list {
      .task-list-item {
        &:has(input[type="checkbox"]:checked) {
          @apply text-gray-700;
        }
      }
    }
  }
  & .recipe-contents {
    .recipe-directions {
      .admonition.ingredients {
        @apply border-gray-700 text-gray-400;
      }
    }
  }
}
