<!DOCTYPE html>
<html lang="en" class="h-screen">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/static/css/styles.css?v={{ 'now' | date: '%Y%m%d%H%M' }}" />

  <script src="{{ site.fontawesome_kit_url }}" crossorigin="anonymous"></script>

  <title>{{ page.title }} | Rice-Prower Recipes</title>
</head>
<body
  class="bg-gray-300 min-h-screen flex flex-col"
>
  {% include header.html %}

  <main class="container bg-white mx-auto grow">
    <div
      id="content-area"
      class="prose prose-headings:text-deepPurple-500 max-w-none py-4 px-8"
    >
      {{ content }}
    </div>
  </main>

  {% include footer.html %}
</body>
</html>
