<!DOCTYPE html>
<html lang="en" class="h-screen">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="{{ site.tooling.google_font_kit }}" rel="stylesheet" />

    <!-- Our styles -->
    <link
      rel="stylesheet"
      href="/static/css/styles.css?v={{ 'now' | date: '%Y%m%d%H%M' }}"
    />

    <!-- Algolia search -->
    <script src="https://cdn.jsdelivr.net/npm/algoliasearch@4.14.2/dist/algoliasearch-lite.umd.js" integrity="sha256-dImjLPUsG/6p3+i7gVKBiDM8EemJAhQ0VvkRK2pVsQY=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/instantsearch.js@4.46.2/dist/instantsearch.production.min.js" integrity="sha256-ZyB2MNb5ZWtSnHS+PBJebb+NFWDxb2qQiVmN5S7DFqc=" crossorigin="anonymous"></script>


    <!-- FontAwesome kit -->
    <script
      src="{{ site.tooling.fontawesome_kit_url }}"
      crossorigin="anonymous"
    ></script>

    <title>{{ page.title }} | Rice-Prower Recipes</title>
  </head>
  <body class="bg-gray-300 print:bg-transparent min-h-screen flex flex-col">
    {% include header.html %}

    <main class="container print:w-full print:max-w-full bg-white mx-auto grow">
      <div
        id="content-area"
        class="prose prose-headings:text-deepPurple-500 max-w-none py-4 px-8 print:p-2"
      >
        {{ content }}
      </div>
    </main>

    {% include footer.html %}
  </body>
</html>
