---
layout: default
---
{% include recipe_breadcrumb.html %}

<h1>{{ page.title }}</h1>

{% assign the_content = content | strip_newlines %}
{% if the_content != "" %}
<div class="block p-6 rounded-lg shadow-lg bg-deepPurple-100 bg-opacity-50 max-w-3xl">
  <div class="prose prose-headings:text-deepPurple-500 max-w-none">
    {{ the_content }}
  </div>
</div>
{% endif %}

<div class="grid grid-flow-col auto-cols-fr gap-4">
  {% if page.ingredients %}
  <div>
    <h3 class="my-0">Ingredients</h3>
    <ul>
      {% for ingredient in page.ingredients %}
      <li class="print:leading-tight print:my-0">{{ ingredient }}</li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  {% if page.directions %}
  <div>
    <h3 class="my-0">Directions</h3>
    <ol class="marker:text-2xl marker:font-semibold text-lg">
      {% for direction in page.directions %}
      <li>{{ direction }}</li>
      {% endfor %}
    </ol>
  </div>
  {% endif %}
</div>


{% if page.footnotes %}
<h3>Footnotes</h3>
<div>
  {% for footnote in page.footnotes %}
  <div class="flex flex-row mb-8">
    <div class="w-7 text-center text-[color:var(--tw-prose-counters)]">
      <i class="fa-solid fa-caret-right"></i>
    </div>
    <div class="grow prose prose-headings:text-deepPurple-500 max-w-none ml-1">
      {{ footnote | markdownify }}
    </div>
  </div>
  {% endfor %}
</div>
{% endif %}
