---
layout: default
---
{% include recipe/breadcrumb.html %}

<div
  class="grid grid-cols-1 lg:grid-cols-4 gap-x-4 gap-y-6
         print:grid print:grid-cols-4 print:gap-x-4 print:gap-y-6"
>

  <section
    id="recipe-title"
    class="lg:col-span-3 lg:-order-1
           print:col-span-3 print:-order-1"
  >
    <h1 class="print:text-xl print:mb-1">
      {{ page.title }}
      <div class="text-gray-400 text-sm print:text-md font-normal">{{ page.subtitle }}</div>
    </h1>
    <div class="-mt-5 print:text-sm print:mt-0">
      {{ content }}
    </div>

    <!-- lg: prep time and servings -->
    <div class="hidden lg:block">
      {% include recipe/stats.html %}
    </div>
    <!-- END lg: prep time and servings -->
  </section>
  <!-- image -->
  <section
    id="recipe-image"
    class="lg:-order-2 lg:mr-4
           print:-order-2 print:mr-4"
  >
    <img
      class="m-0 rounded-lg object-contain w-full h-auto"
      src="{{ page.image.href }}"
      alt="{{ page.image.alt_text }}"
    />
    {% if page.image.attribution %}
    <p
      class="text-sm m-0 italic text-gray-400"
    >
      Image source:
      <a
        class="text-gray-400"
        href="{{ page.image.attribution.href }}"
      >
        {{ page.image.attribution.name }}
      </a>
    </p>
    {% endif %}
  </section>
  <!-- END image -->


  <!-- sm: prep time and servings -->
  <div class="lg:hidden print:col-span-4 print:-mt-8 print:-mb-2 print:border-deepPurple-50 print:rounded print:border">
    {% include recipe/stats.html %}
  </div>
  <!-- END sm: prep time and servings -->


  <!-- ingredients -->
  <section
    id="recipe-ingredients"
    class="lg:col-span-2 print:col-span-2"
  >
    <h2 class="mt-0 print:text-xl print:mb-1">Ingredients</h2>
    <ul class="list-none pl-0">
      {% for ingredient in page.ingredients %}
        {% include recipe/ingredient_line.html %}
      {% endfor %}
    </ul>
  </section>
  <!-- END ingredients -->

  <!-- directions -->
  <section
    id="recipe-directions"
    class="lg:col-span-2 print:col-span-2"
  >
    <h2 class="mt-0 print:text-xl print:mb-1">Directions</h2>
    <ol class="marker:text-2xl print:marker:text-lg marker:font-semibold text-lg">
      {% for direction in page.directions %}
        {% include recipe/direction_line.html %}
      {% endfor %}
    </ol>
  </section>
  <!-- END directions -->

</div>


{% if page.footnotes %}
<h2 class="mb-4 print:text-xl print:mt-0 print:mb-1">Footnotes</h2>
<div class="grid grid-cols-[1rem_1fr] gap-y-4 gap-x-1">
  {% for footnote in page.footnotes %}
    {% include recipe/footnote_line.html %}
  {% endfor %}
</div>
{% endif %}
