{% comment %}
  The list of ingredients section for the detail page.

  Context:
    recipe - a Recipe model instance.
      We will also be accessing the one-to-many relation `.igredients`,
      so it is best to prefetch these from the view code!
{% endcomment %}

{% for ingredient in recipe.ingredients.all %}
  {% if forloop.first %}
  <ul class="list-disc list-outside ml-10">
  {% endif %}
  {% if ingredient.section is None or ingredient.section.recipe != ingredient.recipe %}
    {% comment %}
      Hack.
      Possible for an ingredient to be assigned to this Recipe, but then assigned
      to some section that itself is assigned to a different recipe.
      This check should not have to exist, but for now just in case, we'll avoid
      some frontend confusion if the backend is all fucky.
    {% endcomment %}
    {% include 'recipes/partials/recipe_detail/ingredient_detail_line.html' with ingredient=ingredient %}
  {% endif %}
  {% if forloop.last %}
  </ul>
  {% endif %}
{% endfor %}

{% for ingredient_section in recipe.ingredient_sections.with_ingredients %}
  <h3 class="font-bold mb-2 text-indigo-300 text-lg">
    {{ ingredient_section.name }}
  </h3>
  {% for ingredient in ingredient_section.sectioned_ingredients.all %}
    {% if forloop.first %}
    <ul class="list-disc list-outside ml-10">
    {% endif %}
    {% comment %}
      Hack. Same shit as above.
    {% endcomment %}
    {% if ingredient.recipe == recipe %}
      {% include 'recipes/partials/recipe_detail/ingredient_detail_line.html' with ingredient=ingredient %}
    {% endif %}
    {% if forloop.last %}
    </ul>
    {% endif %}
  {% endfor %}
{% endfor %}
