{% extends "invoices/base.html" %}

{% block invoices_head_title %}{{ invoice.name }}{% endblock %}

{% block body_content %}
  {% url "invoices:invoice-list" as invoices_list_url %}
  {% include "components/breadcrumbs.html" with page_title=invoice extra_links=invoices_list_url|add:"|Invoices" %}
  {% include "components/title_card.html" with title=invoice.name card_classes="bg-light" %}

  <div class="row">
    <div class="col">
      <p class="m-0">{{ invoice.user.get_full_name }}</p>
      <p class="m-0">{{ invoice.user.profile.address }}</p>
      <p class="m-0">{{ invoice.user.profile.phone }}</p>
      <p class="m-0">{{ invoice.user.email }}</p>
    </div>
    <div class="col">
      <p class="m-0">{{ invoice.client_name }}</p>
      <p class="m-0">{{ invoice.client_address }}</p>
      <p class="m-0">{{ invoice.client_phone }}</p>
    </div>
  </div>
{% endblock %}

{% block body_js %}
{# Inline or other types of JS <script> tags here. #}
{# Remember we've already got jQuery and Bootstrap bundle with Popper. #}
{% endblock %}
