{% extends "invoices/base.html" %}
{% load humanize %}

And feel free to remove blocks you don't need to change.

{% block invoices_head_title %}All invoices{% endblock %}

{% block body_content %}
  {% include "components/breadcrumbs.html" with page_title="Invoices" %}
  {% include "components/title_card.html" with title="Invoices" card_classes="bg-secondary text-light" %}

  <div class="bg-light mb-2 p-3 rounded">
    {% include "components/generic_pagination_controls.html" %}
  </div>

  <table class="table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">From</th>
        <th scope="col">To</th>
        <th scope="col">Period</th>
        <th scope="col">Hours billed</th>
        <th scope="col">Hourly rate</th>
        <th scope="col">Amount billed</th>
      </tr>
    </thead>
    <tbody>
      {% for invoice in invoices %}
      <tr>
        <td><a href="{{ invoice.get_absolute_url }}">{{ invoice }}</a></td>
        <td>{{ invoice.cycle_start_date }}</td>
        <td>{{ invoice.cycle_end_date }}</td>
        <td>{{ invoice.cycle_end_date }}</td>
        <td>{{ invoice.total_hours }} hours</td>
        <td>${{ invoice.hourly_rate|floatformat:2|intcomma }}</td>
        <td>${{ invoice.amount_billed|floatformat:2|intcomma }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="bg-light mb-2 p-3 rounded">
    {% include "components/generic_pagination_controls.html" %}
  </div>

{% endblock %}

{% block body_js %}
{% endblock %}
