{% extends "base.html" %}

{% block head_title %}Home{% endblock %}

{% block body_content %}
  {% url "invoices:invoice-list" as invoices_home_url %}

  {% if request.user.is_authenticated %}

  {% include "widgets/breadcrumbs.html" with is_root=True %}

  {% comment %}
    Super complicated dumb title card thing that saves 0 code lines compared to original.
    But, at least it's DRY. -G
  {% endcomment %}
  {% with user_name=request.user.first_name|default:request.user.username %}
    {% with welcome_text="Hi, "|add:user_name|add:"!" %}
      {% include "widgets/title_card.html" with title=welcome_text subtitle="Use the card links below to open the different tools available on the site." card_classes="bg-primary text-white text-center" %}
    {% endwith %}
  {% endwith %}

  <div class="card-columns">

    {# Invoices app #}
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Invoices</h5>
        <p class="card-text">
          App for Galen to organize contract work data and generate invoices.
        </p>
        {% if perms.invoices.add_invoice %}
        <a href="{{ invoices_home_url }}" class="btn btn-primary stretched-link">Go</a>
        {% else %}
        <p class="card-text text-muted">
          You are lacking a permission required to access this app.
        </p>
        {% endif %}
      </div>
    </div>

    {# Recipes app #}
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Recipes</h5>
        <p class="card-text">
          A collection of recipes for the whole family.
        </p>
        <a href="{% url 'recipes:recipe-list' %}" class="btn btn-primary stretched-link">Go</a>
      </div>
    </div>
  </div>

  {% load flatpages %}
  {% get_flatpages as flatpages %}
  {% for page in flatpages %}
    {% if forloop.first %}
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <div class="list-group">
            <div class="list-group-item list-group-item-primary">
              <h5 class="mb-0">
                Other pages
              </h5>
            </div>
    {% endif %}
            <a href="/pages{{ page.url }}" class="list-group-item list-group-item-action">{{ page.title }}</a>
    {% if forloop.last %}
          </div>
        </div>
      </div>
    {% endif %}
  {% endfor %}

  {% else %}

  <div class="jumbotron mt-5">
    <h1 class="display-4">Welcome to HomeTools</h1>
    <p class="lead">Stuff that the Rice-Prowers use to do shit at home.</p>
    <p>
      Now hurry up and log in to get started
      <span class="d-inline d-lg-none">(tap the <i class="fas fa-hamburger"></i> up top).</span>
      <span class="d-none d-lg-inline">(use the <strong><i class="fas fa-sign-in-alt"></i> Login</strong> form up top).</span>
    </p>
    <p>Don't have a login? Ask Galen (who is too lazy to make a signup page).</p>
  </div>

  {% endif %}
{% endblock %}

{% block body_js %}
  {# Add your JavaScript content here, where it will be included at the end of the <body> tag. #}
{% endblock %}
