{% extends "base.html" %}

Making a new template? Copy the blocks from this file, then fill in your details as needed.
Be sure the `extends` tag remains the first line in the file, as Django requires.
And feel free to remove blocks you don't need to change.

{% block head_extra_meta %}{% endblock head_extra_meta %} {# <meta> tags go here #}
{% block head_css %}{% endblock head_css %} {# additional <link> tags for CSS #}
{% block head_js %}{% endblock head_js %} {# <script defer> tags for deferred JS only #}
{% block head_title %}{% endblock head_title %} {# Page title. Base page has " | Rice-Prower Recipes"; follow this pattern for sub-page titling #}
{% block body_container_classes %}{% endblock body_container_classes %} {# Add classes to the main <div> wrapping body content #}

{% block body_content %}
{# All your page content goes here! #}
{% endblock body_content %}

{% block body_js %}
{# Inline or other types of JS <script> tags here. #}
{# Remember we've already got jQuery and Bootstrap bundle with Popper. #}
{% endblock body_js %}
